@import 'utility';

$base-text-size: 16px;
$base-font-family: Courier;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-image: url('/hollywood.jpg');
  background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
}

.App {
  // background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100%;
  color: #fff;
}

.GameBoard {
  display: flex;
  justify-content: center;
  border: 1px solid #333;
  background-color: transparentize(#333, 0.2);

  tbody {
    border-spacing: 1;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background: url('/star.gif-c200');
    background-size: contain;

    td {
      height: 16px;
      width: 16px;
      border: 1px solid black;
      text-align: center;
      line-height: 16px;

      &.unrevealed {
        background-color: plum;
      }

      &.empty,
      &.numbered {
        background-color: thistle;
      }

      &.bomb {
        background: url('/star.gif-c200');
        background-size: contain;
      }

      &.flagged {
        background-color: lightgreen;
      }

      &.flagbomb {
        background-color: green;
      }
    }
  }
}

h1 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 3em;
}

p {
  font-size: 12px;
  margin-top: 0;

}

.choose {
  // border: 1px solid #333;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.gameOver {
  border: 1px solid #333;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
